@import 'common.css';
@import "footer.css";

.main{
  background-color: #222223;
  min-height: 100vh;
  padding: 3rem 0;
}

.blog{
  background-color: #fff;
  padding: 3rem;
  border-radius: 20px;
  text-align: center;
}

.blog__img img{
  max-width: 100%;
}

.blog__date{
  margin: .5rem 0;
}

.blog__title{
  margin-bottom: 1rem;
  font-weight: 1.5rem;
  font-weight: 800;
}

.blog__text{
  text-align: justify;
}

.back{
  text-decoration: none;
  color: #fff;
  background-color: #ea4c89;
  padding: .8rem 2rem;
  display: block;
  margin-top: 2rem;
  max-width: 130px;
}

@media (max-width: 600px) {
  .main{
    padding: 2rem 15px;;
  }
  .blog{
    padding: 2rem 15px;
  }
}
