body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Raleway', sans-serif;
  color: #222223;
}

*{
  transition: .3s all ease;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

/* ****************************************************************************** */

.main{
  background-color: #222223;
  min-height: 100vh;
}

.screen{
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.screen__title{
  color: #fff;
  font-family: 'Raleway';
  font-weight: 100;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  align-self: flex-end;
  margin: 0 0 8rem 0;
}

.screen__bottom{
  position: absolute;
  bottom: -193px;
  left: 50%;
  transform: translateX(-50%);
}

.about{

}

.about__img{
  border-radius: 100%;
  border: 5px solid #fff;
  overflow: hidden;
  box-shadow:  0 0 10px -5px #222223;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.about__img img{
  max-width: 100%;
}

.about__text{
  text-align: center;
}

.about__text a{
  color: #222223;
}

.about__links{

}

.about__links ul{
  display: flex;
  justify-content: center;
}

.about__links li{
  margin-right: 15px;
}
.about__links li:last-child{
  margin-right: 0;
}

.about__links li:hover{
  transform: translateY(-10px);
}

.about__links a{
  font-size: 22px;
}

.about__links a .fa-facebook{
  color: #4267B2;
}
.about__links a .fa-linkedin-in{
  color: #0077b5;
}
.about__links a .fa-github{
  color: #000;
}

/* ****************************************************************************** */
.space{
  height: 240px;
  background-color: #fff;
}
/* ****************************************************************************** */

/* ****************************************************************************** */
.blog-container{
  background-color: #f9f9f9;
  padding: 3rem 0;
}

.blog{
  display: grid;
  grid-template-columns: 65% 35%;
  grid-column-gap: 30px;
  grid-template-areas:
  "ct sd";
}

.sidebar{
  grid-area: sd;
  background-color: #fff;
  box-shadow: 0 0 10px -10px #000;
  padding: 10px 10px 30px 10px;
  align-self: start;
}

.content{
  grid-area: ct;
  background-color: #fff;
  box-shadow: 0 0 10px -10px #000;
  padding: 20px;
}

.article{
  margin-bottom: 1rem;
}
.article:last-child{
  margin-bottom: 0;
}

.article__img{

}

.article__img img {
  max-width: 100%;
}

.article__date{
  margin-top: .4rem;
  color: #666565;
  font-size: 14px;
}

.article__title{
  margin: .5rem 0;
  font-weight: 800;
}

.article__link{
  margin-top: .8rem;
}

.article__link a{
  text-decoration: none;
  color: #fff;
  background-color: #ea4c89;
  padding: .5rem 1rem;
  display: inline-block;
}

.recent-post-title{
  margin-top: .5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.post{
  margin-bottom: 1rem;
  text-decoration: none;
  color: inherit;
}

.post:last-child{
  margin-bottom: 0;
}

.post__img{

}

.post__img img{
  max-width: 100%;
}

.post__date{
  margin: .5rem 0;
  font-size: 13px;
}

.post__title{
  font-weight: 800;
  font-size: 15px;
}

footer{
  background-color: #222223;
  text-align: center;
  color: #fff;
  padding: 1rem 0;
}

footer a{
  display: inline-block;
  margin-left: 10px;
  color: #fff;
}

/* ****************************************************************************** */

@media (max-width: 600px) {
  .blog{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-template-areas:
    "ct"
    "sd";
  }
  .sidebar{
    margin-top: 1rem;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .screen{
    flex-direction: column;
    justify-content: center;
  }
  .screen__title span{
    display: block;
  }
  .screen__title{
    align-self: center;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .screen__bottom {
    position: relative;
    bottom: unset;
    left: unset;
    color: #fff;
    text-shadow: 0 0 3px #fff;
    transform: translateX(0);
  }
  .about{
    padding-left: 10px;
    padding-right: 10px;
  }
  .about__text a{
    color: #fff;
  }
  .space{
    display: none;
  }
}
